body {
	background: black;
	box-sizing: border-box;
	font-family: arial;
}

h1 {
	font-size: 5rem;
	color: #37344f;
	text-align: center;
	font-weight: normal;
}

.container {
	margin: 50px auto;
	position: relative;
}

section {
	background-image: url(/images/01.png);
	width: 90%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 4rem;
	border-radius: 50px;
}

.canvas,
.button-panel {
	display: inline-block;
}

.canvas {
	border: 10px solid rgba(255,255,255,0.2);
	width: 100%;
	max-width: 1090px;
	min-height: 579px;
	position: relative;
}

.dropzones {
	position: absolute;
	top: 0;
	left: 0;
	width: 1090px;
	height: 579px;
	background: transparent;
	z-index: 10;
}

[id="solved"],
[id="unsolved"] {
	display: block;
	position: absolute;
	/* height:800px; */
	top: 0;
	left: 0;
	transition: opacity 0.5s ease-in-out;
}

[id="solved"] {
	z-index: 5;
}

[id="dropzones"]{
	display: none;
}

[id="hint"],
[id="reset"],
.timer {
	display: none;
}

.timer {
	letter-spacing: 1px;
	padding: 0.7rem 1.2rem;
	background: #366c53;
	color: #74c69f;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 150px;
	box-shadow: inset -5px 0 5px rgba(0,0,0,0.6);

}

.button-panel {
	position: relative;
	min-height: 599px;
}

button {
	padding: 0.7rem 1.2rem;
	cursor: pointer;
	background: #b8264c;
	font-size: 1rem;
	border: none;
	outline: none;
	color: #ffb5c8;
	display: block;
	width: 150px;
	margin-bottom: 1rem;
	transition: all 0.5s ease;
	letter-spacing: 1px;
	text-align: center;
	box-shadow: inset -5px 0 5px rgba(0,0,0,0.6);
	text-align: left;
	border-radius: 10px;
}

button:hover {
	background: #ffb5c8;
	color: #b8264c;
}

.lost,
.won {
	width: 330px;
	height: 250px;
	padding: 1rem;
	border: 3px solid rgba(255,255,255,0.2);
	background: rgba(0,0,0,0.7);
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #bfc585;
	font-size: 1.7rem;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease-in-out 7s;
}

.lost {
	transition: visibility 0s, opacity 0.5s ease-in-out 0.2s;
}

.lost:after,
.won:after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.lost:after {
	content: "TIEMPO AGOTADO!";
}

.won:after {
	content: "COMPLETADO!";
}
.hexagonito {
	height:80px;
}
.imgContainer {
	display: block;
	opacity: 0;
	transition: opacity 0.5s ease 0.2s;
}

[draggable="true"]{
	cursor: move;
}

[id*="img-"]{
	/*border: 1px solid grey;*/
	width: 90px;
	height: 80px;
	position: absolute;
}

[id="img-5"]{
	right: 926px;
	bottom: 254px;
}

[id="img-6"]{
	right: 857px;
	bottom: 211px;
}

[id="img-7"]{
	right: 855px;
	bottom: 294px;
}

[id="img-8"]{
	right: 784px;
	bottom: 251px;
}

[id="img-9"]{
	right: 784px;
	bottom: 171px;
}

[id="img-10"]{
	right: 711px;
	bottom: 291px;
}

[id="img-11"]{
	right: 711px;
	bottom: 209px;
}

[id="img-12"]{
	right: 711px;
	bottom: 127px;
}

[id="img-13"]{
	right: 640px;
	bottom: 250px;
}

[id="img-14"]{
	right: 568px;
	bottom: 291px;
}

[id="img-15"]{
	right: 569px;
	top: 290px;
}

[id="img-16"]{
	left: 360px;
	bottom: 332px;
}

[id="img-17"]{
	left: 503px;
	bottom: 249px;
}

[id="img-18"]{
	left: 574px;
	bottom: 372px;
}

[id="img-19"]{
	right: 425px;
	bottom: 289px;
}

[id="img-20"]{
	right: 425px;
	bottom: 207px;
}

[id="img-21"]{
	right: 425px;
	bottom: 125px;
}

[id="img-22"]{
	left: 645px;
	bottom: 249px;
}

[id="img-23"]{
	left: 644px;
	bottom: 167px;
}

[id="img-24"]{
	left: 644px;
	bottom: 330px;
}

[id="img-25"]{
	left: 719px;
	bottom: 288px;
}

[id="img-26"]{
	left: 718px;
	bottom: 205px;
}

[id="img-27"]{
	left: 788px;
	bottom: 248px;
}

[id="img-28"]{
	right: 140px;
	top: 128px;
}

[id="img-29"]{
	right: 139px;
	top: 211px;
}

[id="img-30"]{
	right: 139px;
	top: 292px;
}

[id="img-31"]{
	right: 142px;
	top: 372px;
}

[id="img-32"]{
	right: 67px;
	top: 251px;
}

[id="img-33"]{
	right: 782px;
	top: 166px;
}

[id="img-34"]{
	right: 784px;
	top: 410px;
}

[id="img-35"]{
	right: 782px;
	top: 84px;
}

[id="img-36"]{
	right: 710px;
	top: 126px;
}

[id="img-37"]{
	left: 360px;
	bottom: 169px;
}



[id="img-45"] {
  /* left: 41px; */
  /* top: 46px; */
  left: 2px;
  top: 39px;
}

[id="img-44"] {
  /* left: 41px; */
  /* top: 142px; */
  left: 2px;
  top: 122px;
}

[id="img-49"] {
  /* left: 41px; */
  /* top: 238px; */
  left: 2px;
  top: 203px;
}

[id="img-52"] {
  /* left: 41px; */
  /* top: 286px; */
  left: 0px;
  top: 284px;
}

[id="img-55"] {
  /* left: 41px; */
  /* top: 334px; */
  left: 0px;
  top: 367px;
}

[id="img-58"] {
  /* left: 41px; */
  /* top: 382px; */
  left: -1px;
  top: 448px;
}

[id="img-68"] {
  /* left: 41px; */
  /* top: 574px; */
  left: 74px;
  top: 0px;
}

[id="img-100"] {
  /* left: 125px; */
  /* top: 1294px; */
  left: 74px;
  top: 82px;
}

[id="img-98"] {
  /* left: 41px; */
  /* top: 1294px; */
  left: 73px;
  top: 162px;
}

[id="img-97"] {
  /* left: 125px; */
  /* top: 1246px; */
  left: 71px;
  top: 326px;
}

[id="img-73"] {
  /* left: 41px; */
  /* top: 718px; */
  left: 70px;
  top: 409px;
}

[id="img-99"] {
  /* left: 209px; */
  /* top: 1198px; */
  left: 73px;
  top: 490px;
}

[id="img-95"] {
  /* left: 125px; */
  /* top: 1150px; */
  left: 141px;
  top: 40px;
}

[id="img-93"] {
  /* left: 41px; */
  /* top: 1150px; */
  left: 357px;
  top: 494px;
}

[id="img-96"] {
  /* left: 209px; */
  /* top: 1102px; */
  left: 427px;
  top: 451px;
}

[id="img-92"] {
  /* left: 125px; */
  /* top: 1102px; */
  left: 500px;
  top: 495px;
}

[id="img-94"] {
  /* left: 209px; */
  /* top: 1054px; */
  left: 641px;
  top: 495px;
}

[id="img-90"] {
  /* left: 125px; */
  /* top: 1054px; */
  left: 785px;
  top: 497px;
}

[id="img-88"] {
  /* left: 41px; */
  /* top: 1054px; */
  left: 928px;
  top: 497px;
}

[id="img-91"] {
  /* left: 209px; */
  /* top: 1006px; */
  left: 572px;
  top: 454px;
}

[id="img-87"] {
  /* left: 125px; */
  /* top: 1006px; */
  left: 288px;
  top: 450px;
}

[id="img-89"] {
  /* left: 209px; */
  /* top: 958px; */
  left: 358px;
  top: 410px;
}

[id="img-85"] {
  /* left: 125px; */
  /* top: 958px; */
  left: 216px;
  top: 2px;
}

[id="img-83"] {
  /* left: 41px; */
  /* top: 958px; */
  left: 429px;
  top: 369px;
}

[id="img-86"] {
  /* left: 209px; */
  /* top: 910px; */
  left: 1000px;
  top: 457px;
}

[id="img-82"] {
  /* left: 125px; */
  /* top: 910px; */
  left: 855px;
  top: 454px;
}

[id="img-84"] {
  /* left: 209px; */
  /* top: 862px; */
  left: 498px;
  top: 412px;
}

[id="img-80"] {
  /* left: 125px; */
  /* top: 814px; */
  left: 714px;
  top: 455px;
}

[id="img-78"] {
  /* left: 41px; */
  /* top: 814px; */
  left: 642px;
  top: 415px;
}

[id="img-81"] {
  /* left: 209px; */
  /* top: 766px; */
  left: 502px;
  top: 330px;
}

[id="img-77"] {
  /* left: 125px; */
  /* top: 766px; */
  left: 289px;
  top: 41px;
}

[id="img-79"] {
  /* left: 209px; */
  /* top: 718px; */
  left: 1000px;
  top: 374px;
}

[id="img-75"] {
  /* left: 125px; */
  /* top: 718px; */
  left: 1003px;
  top: 293px;
}

[id="img-76"] {
  /* left: 209px; */
  /* top: 670px; */
  left: 1004px;
  top: 210px;
}

[id="img-72"] {
  /* left: 125px; */
  /* top: 670px; */
  left: 1001px;
  top: 129px;
}

[id="img-74"] {
  /* left: 209px; */
  /* top: 622px; */
  left: 1001px;
  top: 49px;
}

[id="img-70"] {
  /* left: 125px; */
  /* top: 574px; */
  left: 927px;
  top: 415px;
}

[id="img-71"] {
  /* left: 209px; */
  /* top: 526px; */
  left: 930px;
  top: 333px;
}

[id="img-67"] {
  /* left: 125px; */
  /* top: 526px; */
  left: 786px;
  top: 332px;
}

[id="img-50"] {
  /* left: 209px; */
  /* top: 142px; */
  left: 931px;
  top: 168px;
}

[id="img-51"] {
  /* left: 125px; */
  /* top: 238px; */
  left: 787px;
  top: 169px;
}

[id="img-48"] {
  /* left: 125px; */
  /* top: 190px; */
  left: 716px;
  top: 375px;
}

[id="img-47"] {
  /* left: 209px; */
  /* top: 94px; */
  left: 790px;
  top: 88px;
}

[id="img-46"] {
  /* left: 125px; */
  /* top: 142px; */
  left: 431px;
  top: 127px;
}

[id="img-63"] {
  /* left: 41px; */
  /* top: 478px; */
  left: 932px;
  top: 7px;
}

[id="img-62"] {
  /* left: 125px; */
  /* top: 430px; */
  left: 785px;
  top: 414px;
}

[id="img-60"] {
  /* left: 125px; */
  /* top: 382px; */
  left: 933px;
  top: 87px;
}

[id="img-59"] {
  /* left: 209px; */
  /* top: 286px; */
  left: 857px;
  top: 46px;
}

[id="img-61"] {
  /* left: 209px; */
  /* top: 334px; */
  left: 788px;
  top: 6px;
}

[id="img-64"] {
  /* left: 209px; */
  /* top: 382px; */
  left: 719px;
  top: 128px;
}

[id="img-65"] {
  /* left: 125px; */
  /* top: 478px; */
  left: 140px;
  top: 452px;
}

[id="img-66"] {
  /* left: 209px; */
  /* top: 430px; */
  left: 719px;
  top: 47px;
}

[id="img-69"] {
  /* left: 209px; */
  /* top: 478px; */
  left: 213px;
  top: 489px;
}

[id="img-42"] {
  /* left: 125px; */
  /* top: 191px; */
  left: 504px;
  top: 169px;
}

[id="img-41"] {
  /* left: 209px; */
  /* top: 46px; */
  left: 645px;
  top: 5px;
}

[id="img-40"] {
  /* left: 209px; */
  /* top: 143px; */
  left: 644px;
  top: 86px;
}

[id="img-39"] {
  /* left: 293px; */
  /* top: 94px; */
  left: 359px;
  top: 84px;
}

[id="img-38"] {
  /* left: 293px; */
  /* top: 191px; */
  left: 572px;
  top: 46px;
}

[id="img-56"] {
  /* left: 209px; */
  /* top: 238px; */
  left: 502px;
  top: 86px;
}

[id="img-54"] {
  /* left: 125px; */
  /* top: 286px; */
  left: 427px;
  top: 45px;
}

[id="img-53"] {
  /* left: 209px; */
  /* top: 190px; */
  left: 359px;
  top: 4px;
}

[id="img-57"] {
  /* left: 125px; */
  /* top: 334px; */
  left: 141px;
  top: 366px;
}

[id="img-43"] {
  /* left: 125px; */
  /* top: 94px; */
  left: 144px;
  top: 120px;
}

[id="img-101"] {
  /* left: 144px; */
  /* top: 120px; */
  left: 502px;
  top: 6px;
}


/* Image Dropped animation */

@-webkit-keyframes imgAnimation {
	0% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	50% {
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
}
@keyframes imgAnimation {
	0% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	50% {
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
}

/* Puzzle Success animation */

@-webkit-keyframes success {
	0% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	17% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	34% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
	}
	51% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	68% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	90% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
	}
	100% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
@keyframes success {
	0% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
	}
	17% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	34% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
	}
	51% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	68% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	90% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
	}
	100% {
		-webkit-animation-timing-function: ease-in;
		        animation-timing-function: ease-in;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
